.toolbar_wrap {
    background-color: #2a2a2a;
    width: 30vw;
    position: fixed;
    color: #fff;
    height: 100vh;
    right: 0;
    top: 0;
}

.toolbar_header {
    font-size: 48px;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.toolbar {
    height: 60%;
    padding: 20px 5px;
    border-bottom: 1px solid #ccc;
}

ul.toolbar_list > li {
    margin: 20px 0;
    font-size: 18px;
}

ul.toolbar_list > li > a{
    text-decoration: none;
    color: #fff;
}

.toolbar_wrap{
    display: none;
    cursor: pointer;
}
