textarea {
    width: 100%;
    min-height: 300px;
    height: auto;
    resize: none;
}

.write_type {
    height: 25px;
    background: #ffffff;
    border: 1px solid #ccc;
}

select.page_type {
    height: 25px;
    width: 100%;
}

button.save_button:hover {
    opacity: 0.7;
}
button.save_button {
    width: 100%;
    background: blanchedalmond;
    border: 1px solid black;
    outline: none;
    display: inline-block;
}

.write_input {
    max-width: 99%;
}

.write_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.write_wrap {
    display: inline-block;
    width: 500px;
    padding: 50px;
    background: #ccc;
}

.modal_bg {
    position: fixed;
    background: black;
    width: 100vw;
    height: 100vh;
    left: 0;
    opacity: 0.7;
    top: 0;
}